<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <title>KonvaAssignment</title>
    <script src="https://unpkg.com/konva@3.3.3/konva.min.js"></script>

    <script src="ImageController.js"></script>
    <script src="services/Download.js"></script>
    <script src="services/Upload.js"></script>
    <script src="Directives.js"></script>

</head>
<body ng-app="konvaAssignment">
<div ng-controller="ImageController">
    <form enctype="multipart/form-data">
        <h1>Upload Image to MongoDb</h1>
        <input type="file" file-model="photo" name="photo"/>
        <input type="submit"  value="Upload" ng-click="uploadFile()"/>
    </form>

    <form>
        </br>
        <h1>Click to see the uploaded Image</h1>
        <input type="button" ng-click="downloadFile()" value="Download"/>
    </form>

    <div id="container"></div>
</div>
</body>
</html>